/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}
/* Contenedor del header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  flex-wrap: wrap;
  color: #00bfff;
}

/* Menú de navegación */
.nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #00bfff;
}

/* Responsive */
@media (max-width: 768px) {
  .nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav ul li {
    margin-bottom: 10px;
  }
}


main {
    padding: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin: 10px 0 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

#resultado {
    margin-top: 20px;
    color: green;
}